name: Java API CI/CD Pipeline 

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]  
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

env:
    ARTIFACT_NAME: "api-${{ github.sha }}.jar"
    IMAGE_NAME: "/java-api:${{ github.sha }}"
    REGISTRY_NAME: ${{ secrets.AZURE_REGISTRY_NAME }}
    REGISTRY_IMAGE: "${{ secrets.AZURE_REGISTRY_NAME }}/java-api:${{ github.sha }}"

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up JDK 17
              uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '17'

            - name: Build with Maven
              run: mvn clean package -DskipTests

            - name: Run tests with Maven
              run: mvn test

            - name: Build Docker image
              run: docker build -t ${{ env.IMAGE_NAME }} .

            - name: Trivy Scan
              uses: aquasecurity/trivy-action@master
              with:
                 image-ref: ${{ env.IMAGE_NAME }}
                 format: 'table'
                 exit-code: 0
                 severity: HIGH,CRITICAL

            - name: Azure Login
              uses: azure/login@v2
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Docker Login
              run: az acr login --name ${{ env.REGISTRY_NAME }}

            - name: Tag Docker image
              run: docker tag ${{ env.IMAGE_NAME }} ${{ env.REGISTRY_IMAGE }}

            - name: Push Docker image to Azure Container Registry
              run: docker push ${{ env.REGISTRY_IMAGE }}

            - name: Archive artifact
              uses: actions/upload-artifact@v4
              with:
                  name: java-api-artifact
                  path: target/*.jar

    deploy-staging:
        needs: build-and-test
        runs-on: ubuntu-latest
        steps:
           - name: Download JAR
             uses: actions/download-artifact@v4
             with:
                name: java-api-artifact

           - name: Fake Deploy
             run: | 
                echo "Build: ${{ env.ARTIFACT_NAME }} "
                echo "Fake deploying to: https://staging.example.com"
